@import 'ColorPalette';


footer {
    width: 100%;
    height: 100vh;
    background-color: $yellow;
    position: fixed;
    bottom: 0;
    z-index: -1;

    padding: 13rem 6rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 4fr 1fr;

    h1 {
        color: $pink;
        font: 800 62px $text ;
        font-style: italic;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        a {
            color: $red;
            text-transform: uppercase;
            letter-spacing: 4px;
            font: 500 14px/1.9 $text;
            text-decoration: none;
            transition: all .5s;
        }
    }

    div {
        color: $pink;
        display: flex;
        flex-direction: column;
        padding: 4rem;

        &:last-of-type {
            align-items: flex-end;
        }

        h5 {
            font: 500 22px/1.2 $text;
            margin: 1rem 0;
        }

        a {
            text-decoration: none;
            color: $red;
            font-family: $text;
        }

    }

    p {
        font: 500 12px/1.4 $text;
        text-transform: uppercase;
        color: $pink;
        letter-spacing: 3px;
        // To do horizontal center
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}


.footer {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: -2;
    position: absolute;
    // the above code will kind of give a parallax effect
}

